*, body{
    font-family: 'Basic', sans-serif;
}

:root {
    --bg-purple: #8C32F0;
    --bg-pink: #E73587;
    --bg-white: #fff;
    --bg-navy: #020E35;
    --bg-oren: #F09532;
    --bg-light-blue: #32D6F0;
}

/* section 1 ============ */
.bg-gradient-purple{
    background: linear-gradient(270deg, var(--bg-purple) 0%, var(--bg-pink) 100%);
    border: 0;
    color: var(--bg-white);
}

.bg-gradient-purple:hover{
    background: linear-gradient(270deg, var(--bg-pink) 0%, var(--bg-purple) 100%);
    border: 0;
    color: var(--bg-white);
}

.bg-navy{
    background: var(--bg-navy);
    color: #fff;
}
.text-navy{
    color: var(--bg-navy);
}

.text-xl{
    font-size: 4rem;
}

.btn-header{
    /* position: relative; */
    top: -25px;
}

/* akhir section 1 ==================== */

/* section 2 ====================== */

.btn-dark {
    border-radius: 0px;
}

.slider {
    padding: 10px 17px;
    width: fit-content;
    height: fit-content;
    margin-top: 17rem;
    margin-left: 0;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    
}

.slider:hover{
    border: 2px solid #FFFFFF;
}

.circle{
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    background-color:  #F0F3FA;
    position: absolute;
    top: -10px;
    left: -250px;
}

/* akhir section 2 =================== */

/* section 3 ================= */


.bg-oren {
    background: var(--bg-oren);
}

.bg-purple {
    background: var(--bg-purple);
}

.bg-pink {
    background: var(--bg-pink);
}

.bg-biru {
    background: var(--bg-light-blue);
}

.text-navy {
    color: var(--bg-navy);
}

span.line {
    display: block;
    width: 100px;
    height: 1px;
    border: 2px solid var(--bg-pink);
    margin: auto;
}

.height-100fw{
    height: 90vh;
}

.height-50fw{
    height: 50%;
}


/* akhir section 3 ============= */

/* section 4 =============== */
/* Contact & Newsletter */
.newsletter{
    margin-top: 100px;
    margin-bottom: 70px;
    background-color: white;
}
  
.text-2xl{
    color: var(--bg-navy);
    font-size: 5rem;
}


.newsletter span{
    color: #E73587;
}

.newsletter .label-contact {
    font-size: 17px;
    font-weight: 400;
    color: #2c3241;
}


.bg-gradient-purple-contact{
    height: 50px;
    font-size: 17px;
    font-weight: 400;
    background: linear-gradient(270deg, var(--bg-purple) 0%, var(--bg-pink) 100%);
    border: 0;
    color: var(--bg-white);
}

.bg-gradient-purple-contact:hover{
    background: linear-gradient(270deg, var(--bg-pink) 0%, var(--bg-purple) 100%);
    border: 0;
    color: var(--bg-white);
}


/* Footer */
/* footer{
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0px;
    margin-top: 40px;
    background: #020E35;
}

footer p{
    font-size: 12px;
    line-height: 10px;
    color: #FFFFFF;
} */
/* akhir section 4 =============== */