
.btn-dark {
    border-radius: 0px;
}

.card {
    border-radius: 0px;
}

.slider {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 17rem;
    margin-left: 0;
    border: 0.1rem solid #FFFFFF;
    border-radius: 100%;
    
}
