hr {
    width: 7rem;
    border: 2px solid #E73587;
    margin: auto;
}

.btn-dark {
    border-radius: 0px;
}

.card {
    border-radius: 0px;
}

.next {
    width: 50px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
}