*, body{
    font-family: 'Basic', sans-serif;
}

/* Nontact Newsletter */


/* Footer */
footer{
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0px;
    background: #020E35;
}

footer p{
    font-size: 12px;
    line-height: 10px;
    color: #FFFFFF;
}