*,
body {
    font-family: 'Basic', sans-serif;
    color: #fff;
}

main {
    background: var(--bg-navy);
}

:root {
    --bg-purple: #8C32F0;
    --bg-pink: #E73587;
    --bg-white: #fff;
    --bg-navy: #020E35;
    --bg-oren: #F09532;
    --bg-light-blue: #32D6F0;
}

.bg-gradient-purple {
    background: linear-gradient(270deg, var(--bg-purple) 0%, var(--bg-pink) 100%);
    border: 0;
    color: var(--bg-white);
}

.bg-gradient-purple:hover {
    background: linear-gradient(270deg, var(--bg-pink) 0%, var(--bg-purple) 100%);
    border: 0;
    color: var(--bg-white);
}


.bg-oren {
    background: var(--bg-oren);
}

.bg-purple {
    background: var(--bg-purple);
}

.bg-pink {
    background: var(--bg-pink);
}

.bg-biru {
    background: var(--bg-light-blue);
}

.text-navy {
    color: var(--bg-navy);
}

.text-xl {
    font-size: 4rem;
}


.card {
    width: 100%;
    height: 25rem;
}

hr {
    width: 5rem;
    height: 0.3rem;
    border: 0;
    background-color: var(--bg-pink);
    margin: auto;
}

/* mobile */
@media (max-width: 575.98px) {
    .card {
        height: 20rem;
        width: 100%;
    }
}

/* mobile 2 */
@media (max-width: 767.98px) {
    .card {
        height: 20rem;
        width: 100%;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px)*/
/* @media (max-width: 991.98px) {
    .card {
        height: 20rem;
        width: 100%;
    }
} */