hr {
    width: 7rem;
    border: 0.1rem solid #E73587;
    margin: auto;
}

.btn-dark {
    border-radius: 0px;
}

.card {
    border-radius: 0px;
}

.slider {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 15rem;
    margin-left: 0.2rem;
    border: 0.1rem solid #FFFFFF;
    border-radius: 100%;
    
}
p {
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}