.about {
  width: 823px;
  height: 75px;
  padding: 8rem 7% 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.about h2 {
  font-weight: bold;
  font-size: 1.56rem;
  line-height: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.about-heading {
  position: relative;
}

.about-heading::after {
  content: "";
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #e73587;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.about p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}
